
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>管理</cite></a>
        <a><cite>台账类型管理</cite></a>
    </div>
</div>
<style>
    .operateBox {
        height: 40px;
        line-height: 40px;
    }
    .accList {
        margin-top: 10px;
    }
    .accBox{
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }
    .accName {
        height: 90px;
        line-height: 90px;
        padding-left: 90px; 
        font-weight: 600;
        border: 1px solid #eaeaea;
        border-bottom: none;
        background: url("/src/style/res/role.png") no-repeat 22px 22px #fff ;
        background-size: 48px;
    }
    .accAllocation.layui-col-md6 {
        height: 40px;
        line-height: 40px;
        background: #fff;
        border: 1px solid #eaeaea;
        text-align: center;
        cursor: pointer;
    }
    .accDel.layui-col-md6 {
        height: 40px;
        line-height: 40px;
        background: #fff;
        text-align: center;
        border: 1px solid #eaeaea;
        border-left: none;
        cursor: pointer;
    }
    .addAccDataInfo .layui-input {
        width: calc(100% - 110px);
    }
</style>


<div class="accManageFrame layui-fluid">
    <div class="accManageBoxFrame" >
        <div class="operateBox">
            <button class="layui-btn layui-btn-normal addAccBtn" data-type="addAcc">
                <i class="layui-icon">&#xe654;</i> 添加角色
            </button>
        </div>
        <div class="accList layui-row layui-col-space10">
            <div class="accItem layui-col-md3">
                <div class="accName">管理人员</div>
                <div class="layui-row">
                    <div class="accAllocation layui-col-md6">重命名</div>
                    <div class="accDel layui-col-md6">删除</div>
                </div>
            </div>
        </div>
    </div>
</div>